.books-section{
    /* border-bottom: 2px solid #d0d0d0; */
}

.books-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
    /* flex-direction: column; */
    counter-reset: book-num;
    padding-bottom: 30px;
  }

.genre-heading {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 12px;
    /* margin-top: 30px; */
}  

.genre-link{
  display: table;
}

.genre-link:hover{
  text-decoration: underline;
}

/* little hollow arrow (rotated square w/2 borders) */
.genre-heading::after{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    border: solid black 1px;
    border-left-color: transparent;
    border-bottom-color:transparent;
    transform: rotate(45deg);
    width:6px;
    height:6px;
    content:'';
}

.purchase-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#262626;
    font-size: .87rem;
}

.purchase-text::after{
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    width:97%;
    height: 1px;
    display: block;
    background:#d0d0d0;
}



  @media(max-width: 800px) {
    .books-container {
      overflow-x: auto; 
      overscroll-behavior-inline: contain;
       overflow-y: hidden;
    }
    
    .snaps-inline{
      scroll-snap-type: inline mandatory;
    }
  
    .snaps-inline > *{
      scroll-snap-align: start;
  
    }
  
    /* Hide scrollbar for Chrome, Safari and Opera */
    .books-container::-webkit-scrollbar {
      display: none;
    }
    .books-container {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .purchase-text{
        text-align: left;
    }
  
  }