
.nav-container::after{
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    /* width:97%; */
    height: 2px;
    display: block;
    background:#3b3b3b;
}

.nav-container::before{
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 3px;
    /* width:97%; */
    height: 1px;
    display: block;
    background:#d0d0d0;
}

.nav-select{
    border:none;
    width:90px;
    font-size: .7rem;
    /* margin-left: 7px; */
    border-right: 1px solid #a4a4a4;
    position: relative;
    color: #3b3b3b;
}

.nav-select:hover{
    cursor:pointer;
}
