*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:black
}

body{
  padding-left: 20px;
  padding-right: 20px;
}

h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:20px;
  font-weight: bold;
}

.arial{
  font-family: Arial, Helvetica, sans-serif;
}

.times-new-roman{
  font-family: 'Times New Roman', Times, serif;
}